.section {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  width: auto;
  height: auto;
  margin: auto;
}

.section h1 {
  color: black;
  font-size: x-large;
}

.section p {
  color: rgb(168, 164, 164);
  font-size: small;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 480px;
    height: 280px;
  }
}

.card {
  padding: 0.5em;
  border-radius: 1%;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.card p {
  color: white;
  font-size: small;
  font-weight: bold;

  margin-left: 1em;
}

.card img {
  width: 60px;
  height: 60px;
  margin-left: 1em;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-right: 2.5em;
}
