/* @media only screen and (min-width: 768px) {
  .section {
    margin: auto;
    height: auto;
    width: 100%;
  }
} */

.payments {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  margin-bottom: 5em;
}

.payments img {
  width: 50px;
  height: 50px;
  object-fit: fill;
  border-radius: 100%;
}

.payments img:hover,
.payments img:focus,
.payments img:active,
.payments img.active {
  cursor: pointer;
}

.form {
  margin-top: 1rem;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .controls {
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  .controls {
    display: block;
    width: 100%;
    margin-left: 2.7em;
  }
}

.controls {
  gap: 3em;
  padding-bottom: 1em;
}

.controls label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.controls input {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  font-size: 1em;
  width: 18em;
  height: 2em;
  display: block;
}

.controls input:hover,
.controls input:focus,
.controls input:active,
.controls input.active {
  background-color: #cbf8f8;
  outline-color: teal;
}

.actions {
  display: flex;
  justify-content: flex-start;

  margin-top: 2em;
  gap: 1em;
}

.actions input {
  font-size: xx-small;
}

.actions label {
  font-size: small;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form button {
  width: 100%;
  height: 4em;
  margin-top: 1em;

  font-size: 1rem;
  font-weight: bold;

  background-color: brown;
  color: white;
}

.form button:hover,
.form button:focus,
.form button:active,
.form button.active {
  background-color: #eb4545;
  outline-color: teal;
  cursor: pointer;
}

.valid label {
  color: black;
}

.valid input {
  border-style: solid;
}

.invalid label {
  color: #b40e0e;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* text-align: center; */
}
