@media only screen and (min-width: 768px) {
  .actions {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .actions {
    display: flex;
    justify-content: space-between;
  }
}

.actions {
  margin: 4em;
}

.actions button {
  padding: 1em;

  font-size: 1em;
  font-weight: bold;

  background-color: brown;
  color: white;
}

.actions label {
  font-size: x-large;
  font-weight: bolder;
}

.actions button:hover,
.actions button:focus,
.actions button:active,
.actions button.active {
  background-color: #eb4545;
  outline-color: teal;
  cursor: pointer;
}
